<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="FilmsDBEntities" connectionString="metadata=res://*/Model.ModelDB.csdl|res://*/Model.ModelDB.ssdl|res://*/Model.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VLADIMIRPC;initial catalog=FilmsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>